.mainWrapper {
  text-align: center;
}

.buttonsWrapper button {
  margin: 5px;
  font-family: fantasy;
  font-size: 20px;
  color: #ffcc01;
  width: 100px;
  border: 2px solid white;
}

.ArrowCircle {
  width: 40px;
  height: 40px;
}

.buttonsWrapper {
  margin: 40px 0;
}

.pokemonLogo {
  width: 30%;
  min-width: 200px;
  padding-top: 30px;
}

.cardsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px;
}

.noDataBlock {
  display: flex;
  justify-content: center;
  font-family: fantasy;
  align-items: center;
  color: #1976d2;
  background-color: #ffcc01;
  border-radius: 10px;
  width: 300px;
  height: 100px;
  border: 4px solid white;
}
