.modalBox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40%;
  min-width: 300px;
  max-height: 600px;
  height: 470px;
  border: 4px solid #1976d2;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 4px;
  background-color: #ffcc01;
  display: flex;
  justify-content: center;
  text-align: center;
}

.modalName {
  color: #ffcc01;
  font-family: fantasy;
  font-size: 20px;
  background-color: #1976d2;
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.modalPhotoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.descriptionLines {
  font-family: fantasy;
  font-size: 22px;
  text-align: left;
  color: #1976d2;
  font-weight: normal;
  letter-spacing: 1px;
}


.descriptionWrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #1976d2;
  border-radius: 10px;
  margin: auto;
  width: 200px;
}

.descLinesWrapper {
  padding: 10px;
}

.pokemonLogoModal {
  width: 150px;
  margin-top: 20px;
}

.pokeImg {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.descCount {
  margin-left: 5px;
}
